# Build output
bin/
obj/

# Local build configuration
Directory.Build.props

# Visual Studio / VS Code
.vs/
.vscode/
*.user
*.suo

# Rider
.idea/

# BepInEx runtime files
BepInEx/
LogOutput.log

# OS
Thumbs.db
.DS_Store

# Release packages
release/
*.zipicon-original.png
icon-original.png
*.zip

#TEST
/Tests

#thunderstore
.thunderstore-token
publish.ps1
thunderstore.toml
